<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1>Hello Python</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>ลำดับที่</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>Tel</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in datas %}
          <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>
              <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
              <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
            </td>
          </tr>

          <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>
                </div>
                <div class="modal-body">
                  <form action="/update" method="POST">
                    <div class="form-group">
                      <label>ชื่อ:</label>
                      <input type="hidden" name="id" value="{{row.0}}">
                      <input type="text" class="form-control" name="fname" value="{{row.1}}">
                    </div>
                    <div class="form-group">
                      <label>นามสกุล:</label>
                      <input type="text" class="form-control" name="lname" value="{{row.2}}">
                    </div>
                    <div class="form-group">
                      <label>เบอร์โทรศัพท์:</label>
                      <input type="text" class="form-control" name="phone" value="{{row.3}}">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">อัพเดท</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
            </div>

            {% endfor %}
        </tbody>
      </table>
      <a href="/student" class="btn btn-primary">เพิ่มรายชื่อใหม่</a>

      
</body>
</html>